button,
.btn {
	text-transform: uppercase;
	border-radius: 2px;
	font-size: 14px;
	letter-spacing: 1px;
	transition: background-color 0.5s ease;
	margin: 30px 0;
}

.btn-1 {
	background-color: $color1;	
	color: #fff;


	&:hover {
		color: #fff;
		background-color: darken($color1,5);
	}	
}

.btn-primary {
	max-width: 200px;
	display: block;
	margin: 30px auto;
	background-color: #00d2ff;
	border: none;
}