section {
  margin-top: 50px;
}

.tweets {
  margin-top: 50px;
}

.tweet-account {
  margin-bottom: 30px;
}

.tweet-account img {
  margin-bottom: 20px;
}

.tweet-account h2 {
  font-size: 20px;
  margin-bottom: 0;
}

.tweet-account p {
  font-size: 14px;
  font-weight: 300;
}

.tweet-account p span {
  font-size: 16px;
}

