/* =================
			COLORS
================= */ 
$Flamingo: #EF4D44;
$PickledBluewood: #2D4050;
$Porcelain: #EBF0F0;

$color1: $Flamingo;
$color2: $PickledBluewood;
$color3: $Porcelain;


/* =================
			FONTS
================= */ 
$font-family-sans-serif: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;


/* =================
			OTHERS
================= */ 

