/* =================
			COLORS
================= */ 
$Cyan: #00d2ff;
$Mariner: #3a7bd5;
$PickledBluewood: #2D4050;
$Batman: #161616;
$DarkBlue: #3E7FD3;

$color1: $Cyan;
$color2: $Mariner;
$color3: $Batman;


/* =================
			FONTS
================= */ 
$font1: 'Poppins';

